<html>
<head>
<title>Employer ViewAs Page</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style1.css'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

</style>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script>
    //var str = document.getElementById("materialInput").value;
    //console.log(str);
    $(document).ready(function(){
        $("input").keypress(function(){
            setTimeout(function(){ $.ajax({                
            url: "get/ajax/friend",
            data: {"d": $("#materialInput").val()},
            dataType: "json",
            beforeSend: function(){
                if(($("#materialInput").val()).length <= 1){
                    // $("#table_body").html("hello");
                    return false;
                }
            return true;
            },
            success: function(result){                    
                $("#table_body").html(result["d"]);                
            }
        }); 
    }, 1500);
        //$("#table_body").remove()                        
                                   
    });
    
    });

    
</script> -->
<style>
#table_body{
    margin-top: 10%;
}
#results{
    margin-top:1%;
}
.navbar{
    width: 100%;
    position: fixed;
    background: whitesmoke;
    opacity: 1;
}
.nav-right {
    float: right;
}
</style>
</head>
<body>
    <nav class="navbar sticky-top navbar-light bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Sikap</a>
          </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="text-secondary"><a href="#">Find Employers</a></li>
                <li class="text-secondary"><a href="#">Profile</a></li>
                <li><a href="#" class="text-secondary">Explore</a></li>
            </ul>
            <div class="nav-right">
                <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Filter Region</span>
                    <select name="Region" id="region">
                        <option value="VII">VII</option>
                        <option value="NCR ">NCR </option>
                        <option value="CAR ">CAR </option>
                        <option value="I ">Region I </option>
                        <option value="II ">Region II </option>
                        <option value="III ">Region III </option>
                        <option value="IV-A ">Region IV-A </option>
                        <option value="MIMAROPA ">MIMAROPA </option>
                        <option value="V ">Region V </option>
                        <option value="VI ">Region VI </option>
                        <option value="VII " selected>Region VII </option>
                        <option value="VIII ">Region VIII </option>
                        <option value="IX ">Region IX </option> 
                        <option value="X ">Region X </option> 
                        <option value="XI ">Region XI </option> 
                        <option value="XII ">Region XII </option> 
                        <option value="XIII ">Region XIII </option> 
                        <option value="BARMM ">BARMM </option> 
                    </select>
                </div>
                <div id="list2" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Filter Province</span>
                    <select name="Province" id="province_filt">
                        <!-- <option value=""></option> -->
                        <option value="Cebu " selected>Cebu</option>
                        <option value="Bohol">Bohol</option>
                        <option value="Negros Oriental">Negros Oriental</option>
                        <option value="Negraos OCcidental">Negros Occidental</option>
                        <option value="Siquijor">Siquijor</option>
                        <option value="Leyte">Leyte</option>
                        <option value="Samar">Samar</option>
                        <option value="Aklan">Aklan</option>
                        <option value="Surigao Del Sur">Surigao Del Sur</option>
                        <option value="Benguet">Benguet</option>
                        <option value="Davao del Sur">Davao del Sur</option>                      
                    </select>
                </div>
                <div id="list3" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Filter City</span>
                    <select name="City" id="city_filt">
                        <!-- <option value=""></option> -->
                        <option value="Cebu City" selected>Cebu City</option>
                        <option value="Lapu-Lapu">Lapu-Lapu</option>
                        <option value="Manduaue">Manduaue</option>                  
                    </select>
                </div>
                <div id="list4" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Filter Industry</span>
                    <!-- <ul class="items" name="province_filt">
                      <li><input type="radio" id="province_filt" value="Cebu"/>Cebu</li>
                      <li><input type="radio" id="province_filt" value="Lapu-Lapu"/>Lapu-Lapu</li>
                      <li><input type="radio" id="province_filt" value="Manduaue"/>Manduaue</li>
                    </ul> -->
                    <select name="Industry" id="industry_filt">
                        <!-- <option value=""></option> -->
                        <option value="Education">Education</option>
                        <option value="BPO">BPO</option>
                        <option value="Techonology">Technology</option> 
                        <option value="Hospitality Management">Hospitality Management</option>                 
                    </select>
                </div>
                <form class="form-inline my-2 my-lg-0 al" style="padding-top: 10px;">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="materialInput" name="materialInput">
                    <input type="hidden" name="result" value="">
                    <button class="btn btn-outline-success my-2 my-sm-0" onclick="printFunction()   " style="background: #0496ff;" type="submit" name="search" id="search">Search</button>
                </form>
            </div> 
        </div>
    </nav> 
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <center>
                    <img src="{% static 'sample.jpg'%}" class ="profile_image" alt="">
                </center>
                <header> {{profile.companyName}} </header>
                <ul class ="sidebar-nav">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Search</a></li>
                    <form action="" method="post">
                        {% csrf_token %}
                        <li><a href="#"><input type="submit" value="Logout" name="logout"></a></li>
                    </form>
                </ul>
            </div>
        </div>
    </nav>

    <div class="sidebar">
        <center>
            <img src="{% static 'sample.jpg'%}" class ="profile_image" alt="">
        </center>
        <header> {{request.session.companyName}} </header>
        <ul class ="sidebar-nav">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Search</a></li>
            <form action="" method="post">
                {% csrf_token %}
                <li><a href="#"><input type="submit" value="Logout" name="logout"></a></li>
            </form>
        </ul>
    </div>
    <div hidden id="query_list" name="query_list"></div>
    <div class="col-sm-3" id="table_body">
        
    
        <!-- <div class="card">
            <img src="{% static 'img_avatar.png' %}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4>
              <p>Position</p>
              <p>Years of Experience</p>
              <p>Industry</p>
              <p>Region</p>
              <p>Province</p>
              <p>City</p>
              <p>Age</p>
            </div>
          </div> -->
        
    </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
<script>
var checkList = document.getElementById('list1');
var checkList2 = document.getElementById('list2');

checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
    if (checkList.classList.contains('visible'))
        checkList.classList.remove('visible');
    else
        checkList.classList.add('visible');
}
checkList2.getElementsByClassName('anchor')[0].onclick = function(evt) {
    if (checkList2.classList.contains('visible'))
        checkList2.classList.remove('visible');
    else
        checkList2.classList.add('visible');
}
function printFunction(){
    var region_list = document.getElementById("region");
    var region_filter = region_list.options[region_list.selectedIndex].value;
    var province_list = document.getElementById("province_filt");
    var province_filter = province_list.options[province_list.selectedIndex].value;
    var stringquery = region_filter.concat(province_filter);
    var city_list = document.getElementById("city_filt");
    var city_filter = city_list.options[city_list.selectedIndex].value;
    var industry_list = document.getElementById("industry_filt");
    var industry_filter = industry_list.options[industry_list.selectedIndex].value;
    const q = {region: region_filter,
                province: province_filter,
                city: city_filter,
                industry: industry_filter};

    var query = JSON.stringify(q);
    document.getElementById("query_list").innerHTML = query;
    
}

</script>
</html>

